.home-page {
    background-image: url('https://fthmb.tqn.com/lydwnnEgnL0XPLC-Lxsm2MM2oZM=/4272x2848/filters:fill(auto,1)/GettyImages-150127577-58f920153df78ca159d41100.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Add any additional styling as needed */
  